.p{
    color: #ff0000;
}
.n{
    color:#7fff00;
}
.m{
    color:#132500;
}
.a{
    color:#ff00ea;
}
.r{
    color:#003068;
}
.i{
    color:#ffd000;
}
.b{
    color:#00fff2;
}
.o{
    color:#ff8181;
}
.v{
    color:#fffb00;
}
.y{
    color:#000000;
}
.x{
    color:#5c5c5c;
}
.h{
    color:#006eff;
}